<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>雇员列表</title>
    <!-- 引入样式 -->
    <script type="text/javascript" src="../js/vue.js"></script>
    <script type="text/javascript" src="../js/axios.min.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>
<body>
<center>
<div id="app">
        <h2>{{ message }}</h2>

</div>
</center>
<center>
<div id="tableView">
    <!--列表顶部搜索和工具条-->
    <!-- v-bind:href  :href  指令用于设置HTML属性 -->
    <!-- v-on:click    @click  指令用于绑定HTML事件 -->
    <el-row>
        <!-- 设置 inline 属性可以让表单域变为行内的表单域 model 双向绑定 searchForm 对象 -->
        <el-form :inline="true" :model="searchForm" class="demo-form-inline">
             <el-form-item label="员工名称">
                <el-input v-model="searchForm.empname" placeholder="员工名称"></el-input>
            </el-form-item>
            <el-form-item label="部门名称">
                <!--<el-select v-model="searchForm.deptNo" placeholder="部门名称">
                    <el-option label="全部" value=""></el-option>
                    <el-option label="财务部" value="10"></el-option>
                    <el-option label="销售部" value="20"></el-option>
                </el-select>-->
                <template>
                    <el-select v-model="searchForm.deptno" clearable placeholder="请选择">
                        <el-option
                                v-for="item in options"
                                :key="item.ID"
                                :label="item.DNAME"
                                :value="item.ID">
                        </el-option>
                    </el-select>
                </template>

            </el-form-item>
            <!-- searchClick 查询方法 -->
            <!-- addClick    新增方法 -->
            <el-form-item>
                <el-button type="primary" icon="search" @click="searchClick">查询</el-button>
                <el-button type="success" icon="plus" @click="addClick">新增</el-button>
            </el-form-item>
        </el-form>
    </el-row>
    <!--列表-->
    <el-row>
        <!--
            当el-table元素中注入data对象数组后，
            在el-table-column中用prop属性来对应对象中的键名即可填入数据，
            用label属性来定义表格的列名。可以使用width属性来定义列宽。
        -->
        <!-- 1 tableData 数组 2 border属性，它接受一个Boolean，设置为true即可启用 具有竖直方向的边框的 -->
        <!-- 3 selection-change 当选择项发生变化时会触发该事件-->
        <el-table
                :data="tableData"
                v-loading.body="loading"
                border
                @selection-change="selectionChange"
                style="width: 100%">
            <el-table-column
                    type="selection"
                    width="55">
            </el-table-column>
            <el-table-column
                    prop="ID"
                    label="序号"
                    width="55">
            </el-table-column>
            <el-table-column
                    prop="USERNAME"
                    label="用户名"
                    width="70">
            </el-table-column>
            <!--<el-table-column
                    prop="PASSWORD"
                    label="密码"
                    width="55">
            </el-table-column>-->
            <el-table-column
                    prop="EMPNAME"
                    label="姓名"
                    width="70">
            </el-table-column>
            <el-table-column
                    prop="DNAME"
                    label="部门"
                    width="70">
            </el-table-column>
            <el-table-column
                    prop="ROLE"
                    label="职位"
                    width="80">
            </el-table-column>
            <!--<el-table-column
                    prop="DEPTNO"
                    label="部门编号"
                    width="120">
            </el-table-column>-->
            <el-table-column
                    prop="SEX"
                    label="性别"
                    width="55">
            </el-table-column>
            </el-table-column>
            <el-table-column
                    prop="HIREDATE"
                    label="日期"
                    width="130">
            </el-table-column>
            <el-table-column
                    prop="SAL"
                    label="薪水"
                    width="60">
            </el-table-column>
            <el-table-column
                    prop="COMM"
                    label="奖金"
                    width="60">
            </el-table-column>
            <el-table-column
                    prop="IDCARD"
                    label="身份证号"
                    width="180">
            </el-table-column>
            <el-table-column
                    prop="TEL"
                    label="电话"
                    width="120">
            </el-table-column>
            <el-table-column
                    label="操作">
                <template scope="scope">
                    <el-button :plain="true" type="primary" circle size="small" icon="el-icon-edit" @click="editClick(scope.row)">编辑</el-button>
                    <el-button :plain="true" type="danger" circle size="small" icon="el-icon-delete" @click="deleteClick(scope.row)">删除</el-button>
                </template>
            </el-table-column>
        </el-table>
    </el-row>

    <!--列表底部工具条和分页符-->
    <el-row style="margin-top: 20px" type="flex" justify="end">
        <el-col :span="6" >
            <el-button :plain="true" type="danger" size="small" icon="delete" @click="removeSelection">删除所选</el-button>
        </el-col>
        <el-col :span="15" >
            <el-pagination
                    style="float: left"
                    @size-change="pageSizeChange"
                    @current-change="currentPageChange"
                    :current-page="currentPage"
                    :page-sizes="[10, 20, 30, 50]"
                    :page-size="pageSize"
                    layout="total, sizes, prev, pager, next, jumper"
                    :total="total">
            </el-pagination>
        </el-col>
    </el-row>

    <!--编辑界面-->
    <el-dialog title="编辑" :visible.sync="editFormVisible" :close-on-click-modal="false">
        <el-form :model="editForm" class="demo-ruleForm"  status-icon  label-width="80px" :rules="editFormRules" ref="editForm">
            <!--autocomplete 就是第一次输入内容后，第二次输入会出现以前输入过的内容。就像百度搜索的历史搜索关键词 -->
            <el-form-item label="用户名" prop="USERNAME">
                <el-input v-model="editForm.USERNAME" clearable ></el-input>
            </el-form-item>
            <el-form-item label="密码" prop="PASSWORD">
                <el-input type="password" v-model="editForm.PASSWORD" autocomplete="off" clearable ></el-input>
            </el-form-item>

            <!--<el-form-item label="确认密码" prop="checkPass">
                <el-input type="password" v-model="editForm.checkPass" autocomplete="off" clearable ></el-input>
            </el-form-item>-->

            <el-form-item label="真实姓名" prop="EMPNAME">
                <el-input v-model="editForm.EMPNAME" clearable ></el-input>
            </el-form-item>
            <!-- <el-form-item label="性别">
                 <el-radio-group v-model="editForm.sex">
                     <el-radio class="radio" :label="1">男</el-radio>
                     <el-radio class="radio" :label="0">女</el-radio>
                 </el-radio-group>
             </el-form-item>-->
            <el-form-item label="部门名称" prop="DEPTNO" >
                    <el-select v-model="editForm.DEPTNO" clearable placeholder="请选择">
                        <el-option
                                v-for="item in options"
                                :key="item.ID"
                                :label="item.DNAME"
                                :value="item.ID">
                        </el-option>
                    </el-select>
             </el-form-item>

            <el-form-item label="职位名称" prop="ROLEID" >
                <el-select v-model="editForm.ROLEID" clearable placeholder="请选择">
                    <el-option
                            v-for="item in roles"
                            :key="item.ID"
                            :label="item.ROLE"
                            :value="item.ID">
                    </el-option>
                </el-select>
            </el-form-item>

            <el-form-item label="性别" prop="SEX">
                <el-radio-group v-model="editForm.SEX">
                    <el-radio class="radio" label="男">男</el-radio>
                    <el-radio class="radio" label="女">女</el-radio>
                </el-radio-group>
            </el-form-item>

            <el-form-item label="雇佣日期" prop="HIREDATE">
                <el-date-picker type="date" value-format="yyyy-MM-dd" placeholder="选择日期" v-model="editForm.HIREDATE"></el-date-picker>
            </el-form-item>

            <el-form-item label="薪水">
                <el-input-number v-model="editForm.SAL" ></el-input-number>
            </el-form-item>
            <el-form-item label="奖金">
                <el-input-number v-model="editForm.COMM" ></el-input-number>
            </el-form-item>
            <el-form-item label="身份证号">
                <el-input-number v-model="editForm.IDCARD" ></el-input-number>
            </el-form-item>
            <el-form-item label="电话号">
                <el-input-number v-model="editForm.TEL" ></el-input-number>
            </el-form-item>

        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click.native="editFormVisible = false">取消</el-button>
            <el-button type="primary" @click.native="editSubmit" :loading="editLoading">提交</el-button>
        </div>
    </el-dialog>

</div>
    </center>

<script type="text/javascript">
    var app = new Vue({
        el: '#app',
        data: {
            message: '雇员列表'
        }
    });

    var tableView = new Vue({
        el: '#tableView',
        data: {
            //用户名数组
            names: [],
            //查询职位名称
            roles: [],
            //查询部门名称
            options: [],
            //列表数据
            tableData: [],
            //显示加载中样式
            loading:false,
            //搜索表单
            searchForm: {
                empname: '',
                deptno: ''
            },
            //多选值
            multipleSelection: [],
            //当前页
            currentPage:1,
            //分页大小
            pageSize:10,
            //总记录数
            total:800,
            //删除的弹出框
            deleteVisible:false,
            //编辑界面是否显示
            editFormVisible: false,
            editLoading: false,
            goUrl:'',

            editFormRules: {
                USERNAME: [
                    { required: true, message: '亲,请输入用户名', trigger: 'blur' },
                    { min: 3, max: 7, message: '亲,长度在 3 到 7 个字符', trigger: 'blur' }
                ],
                /*USERNAME: [
                    { validator: validatePass3, trigger: 'blur' }
                ],
                EMPNAME: [
                    { required: true, message: '亲,请输入真实姓名', trigger: 'blur' },
                    { min: 2, max: 4, message: '亲,长度在 2 到 4 个字符', trigger: 'blur' }
                ],
                DEPTNO: [
                    { required: true, message: '请选择部门名', trigger: 'change' }
                ],
                PASSWORD: [
                    { validator: validatePass, trigger: 'blur' }
                ],
                checkPass: [
                    { validator: validatePass2, trigger: 'blur' }
                ],
                HIREDATE: [
                    { type: 'date', required: true, message: '亲,请选择日期', trigger: 'change' }
                ],
                SEX: [
                    { required: true, message: '亲,请选择性别,至少选一个哦', trigger: 'change' }
                ],
                SAL: [
                    { required: true, message: '亲,请输入工资', trigger: 'blur' },
                    { min: 3, max: 7, message: '亲,长度在 3 到 7 个字符', trigger: 'blur' }
                ],
                COMM: [
                    { required: true, message: '亲,请输入奖金', trigger: 'blur' },
                    { min: 3, max: 7, message: '亲,长度在 3 到 7 个字符', trigger: 'blur' }
                ],
                IDCARD: [
                    { required: true, message: '亲,请输入身份证号', trigger: 'blur' },
                    { min: 18, max: 18, message: '亲,请输入正确的身份证号', trigger: 'blur' }
                ],
                TEL: [
                    { required: true, message: '亲,请输入电话号', trigger: 'blur' },
                    { min: 11, max: 11, message: '亲,请输入正确的电话号', trigger: 'blur' }
                ]*/
            },
            //编辑界面数据
            editForm: {
                ID:0,
                USERNAME:'',
                PASSWORD:'',
                checkPass:'',
                ROLEID:0,
                EMPNAME:'',
                DEPTNO:0,
                SEX:'',
                HIREDATE:'',
                SAL:0,
                COMM:0,
                IDCARD:'',
                TEL:''

            }

        },
        created:function(){
            //在 then的内部不能使用Vue的实例化的this, 因为在内部 this 没有被绑定。
            var self = this;
            var start =(this.currentPage-1)*this.pageSize;
            var end =this.currentPage*this.pageSize+1;

            /*var validatePass = (rule, value, callback) => {
                if (value === '') {
                    callback(new Error('请输入密码'));
                } else {
                    if (self.editForm.checkPass !== '') {
                        self.$refs.editForm.validateField('checkPass');
                    }
                    callback();
                }
            };
            var validatePass2 = (rule, value, callback) => {
                if (value === '') {
                    callback(new Error('请再次输入密码'));
                } else if (value !== self.editForm.PASSWORD) {
                    callback(new Error('两次输入密码不一致!'));
                } else {
                    callback();
                }
            };*/

            axios.post('/sb/emp/page',{'start':start,'end':end}).then(function(response){
                // console.log(response.data);
                //alert(JSON.stringify(response.data.pageData));
                self.total=response.data.total;
                self.tableData = response.data.pageData;
                //用户名是否重复事件

                /*for(var i = 0;i<response.data.pageData.length;i++){

                    self.names = response.data.pageData[i].USERNAME;
                }*/

            });

            /*var validatePass3 = (rule, value, callback) => {
                if (value === '') {
                    callback(new Error('请输入用户名'));
                  }
                  for(var i = 0;i<self.names.length;i++){
                      if (value !== self.names[i].value) {
                          callback(new Error('用户名重复'));
                      } else {
                          callback();
                      }
                  }


            };*/

            axios.post('/sb/dept/list').then(function(response){

                self.options = response.data;

            });
            axios.post('/sb/role/list').then(function(response){

                self.roles = response.data;

            })
        },
        methods:{
            //表格重新加载数据
            loadingData:function() {
                var _self = this;
                _self.loading = true;

                var start =(this.currentPage-1)*this.pageSize;
                var end =this.currentPage*this.pageSize+1;
                var searchForm={'start':start,'end':end,'empname':this.searchForm.empname,'deptno':this.searchForm.deptno};

                axios.post('/sb/emp/page',searchForm).then(function(response){
                    _self.total=response.data.total;
                    _self.tableData = response.data.pageData;
                })
                //打印当前页
                console.log(_self.currentPage);
                setTimeout(function(){
                    console.info("加载数据成功");
                    _self.loading = false;
                },300);
            },
            //表格编辑事件
            editClick:function(row) {
                this.goUrl="/sb/emp/upd";
                //alert(JSON.stringify(Object.assign({}, row)));
                this.editFormVisible = true;
                this.editForm = Object.assign({}, row);

            },
            //表格删除事件
            deleteClick:function(row) {
                var _self = this;
                this.$confirm('确认删除' + row.ID +'吗?', '提示', {
                    type: 'warning'
                }).then(function(){
                    var  url="/sb/emp/del/?id="+row.ID;
                    axios.post(url).then(function (response) {
                        //alert(response.data);
                        if(response.data>0){
                            _self.$message({
                                message: row.ID + '删除成功',
                                type: 'success'
                            });
                            _self.loadingData();//重新加载数据
                        }
                    });
                }).catch(function(e){
                    if(e != "cancel")
                        console.log("出现错误：" + e);
                });
            },
            //新建事件
            addClick:function() {
                //alert(111);
                this.goUrl="/sb/emp/add";
                var _self = this;
                this. editForm={
                    ID:0,
                    USERNAME:'',
                    PASSWORD:'',
                    ROLEID:0,
                    EMPNAME:'',
                    DEPTNO:'',
                    SEX:'',
                    HIREDATE:'',
                    SAL:0,
                    COMM:0,
                    IDCARD:'',
                    TEL:''
                };
                this.editFormVisible = true;
                _self.loadingData();//重新加载数据
            },
            //表格查询事件
            searchClick:function() {
                var self = this;
                /* var start =(this.currentPage-1)*this.pageSize;
                 var end =this.currentPage*this.pageSize+1;
                 //var searchForm =this.searchForm;

                 var searchForm={'start':start,'end':end,'id':this.id,'name':this.name,'deptNo':this.deptNo};
                 alert(searchForm);
                 //formData.push({'start':start}).push({'end':end})
                 axios.post('/emp/list',searchForm).then(function(response){
                     // console.log(response.data);
                     //alert(response.data.total);
                     self.total=response.data.total;
                     self.tableData = response.data.data;
                     // self.multipleSelection=response.data.data;
                 })*/
                self.loadingData();//重新加载数据
            },
            //表格勾选事件
            selectionChange:function(val) {
                for(var i=0;i<val.length;i++) {
                    var row = val[i];
                }
                this.multipleSelection = val;
                console.info(val);
            },
            //删除所选，批量删除
            removeSelection:function() {
                var _self = this;
                var multipleSelection = this.multipleSelection;
                if(multipleSelection.length < 1) {
                    _self.$message({
                        message: '请至少选中一条记录',
                        type: 'error'
                    });
                    return;
                }
                var ids = "";
                for(var i=0;i<multipleSelection.length;i++) {
                    var row = multipleSelection[i];
                    ids += row.ID + ","
                }
                alert(ids);
                this.$confirm('确认删除' + ids +'吗?', '提示', {
                    type: 'warning'
                }).then(function(){
                    var  url="/sb/emp/batchDel/?ids="+ids;
                    axios.post(url).then(function (response) {
                        //alert(response.data);
                        var temp="";
                        if(response.data>0){
                            temp="删除成功";
                        }else {
                            temp="删除失败";
                        }
                        _self.$message({
                            message: ids + temp,
                            type: 'success'
                        });
                        _self.loadingData();//重新加载数据
                    });

                }).catch(function(e){
                    if(e != "cancel")
                        console.log("出现错误：" + e);
                });
            },
            //分页大小修改事件
            pageSizeChange:function(val) {
                console.log('每页 ' + val +' 条');
                this.pageSize = val;
                var _self = this;
                _self.loadingData();//重新加载数据
            },
            //当前页修改事件
            currentPageChange:function(val) {
                this.currentPage = val;
                console.log('当前页: ' + val);
                var _self = this;
                _self.loadingData();//重新加载数据
            },
            //保存点击事件
            editSubmit:function(){
                var _self = this;
                _self.loading = true;
                var formData =this.editForm;
                //alert(formData);
                var goUrl=this.goUrl;
                //alert(goUrl);
                //alert(JSON.stringify(formData));
                axios.post(goUrl,formData).then(function(response){
                    // console.log(response.data);
                    // alert(222);
                    // self.total=response.data.total;
                    if(response.data>0){
                        _self.editFormVisible = false;
                        temp="操作成功";
                    }else {
                        temp="操作失败";
                    }
                    _self.$message({
                        message: temp,
                        type: 'success'
                    });
                    _self.loadingData();//重新加载数据
                })
                console.info(this.editForm);
            }
        }

    })
</script>

</body>
</html>