<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>测试</title>
</head>
<body>
    <h3 th:text="${name}"></h3>
    <h3 style="color: blue" th:text="${msg}"></h3>
    <hr/>
    <div shiro:hasPermission="user:add">
        用户添加：<a href="/sb/user/toAdd">用户添加</a>
    </div>

    <div shiro:hasPermission="user:update">
        用户更新：<a href="/sb/user/toUpd">用户更新</a>
    </div>
</body>
</html>