<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>部门列表</title>
    <!-- 引入样式 -->
    <!--<script type="text/javascript" src="../js/vue.js"></script>-->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script type="text/javascript" src="../js/axios.min.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <!--<script src="https://unpkg.com/element-ui/lib/index.js"></script>-->
    <script src="https://unpkg.com/element-ui@2.4.11/lib/index.js"></script>
    <!--sweet alert2-->
    <link rel="stylesheet" href="../css/sweetalert2.min.css">
    <script src="../js/sweetalert2.all.min.js"></script>
    <script src="../js/sweetalert2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>
    <!--jquery-->
    <script type="text/javascript" src="../js/jquery.min.js"></script>
</head>
<body>
<center>
<div id="app">
    <h2>{{ message }}</h2>
</div>
</center>
<center>
<div id="tableView">
    <el-row>
        <el-form :inline="true" :model="searchForm" class="demo-form-inline">
            <el-form-item label="部门编号">
                <el-input v-model="searchForm.id" placeholder="部门编号"></el-input>
            </el-form-item>
            <el-form-item label="部门名称">
                <el-input v-model="searchForm.dname" placeholder="部门名称"></el-input>
            </el-form-item>

            <!-- searchClick 查询方法 -->
            <!-- addClick    新增方法 -->
            <el-form-item>
                <el-button type="primary" icon="search" @click="searchClick">查询</el-button>
                <el-button type="success" icon="plus" @click="addClick">新增</el-button>
            </el-form-item>
        </el-form>
    </el-row>
    <!--列表-->
    <el-row>
        <!--
            当el-table元素中注入data对象数组后，
            在el-table-column中用prop属性来对应对象中的键名即可填入数据，
            用label属性来定义表格的列名。可以使用width属性来定义列宽。
        -->
        <!-- 1 tableData 数组 2 border属性，它接受一个Boolean，设置为true即可启用 具有竖直方向的边框的 -->
        <!-- 3 selection-change 当选择项发生变化时会触发该事件 -->
        <el-table
                :data="tableData"
                v-loading.body="loading"
                border
                @selection-change="selectionChange"
                style="width: 100%">
            <el-table-column
                    type="selection"
                    width="55">
            </el-table-column>
            <el-table-column
                    label="序号"
                    type="index"
                    width="50">
            </el-table-column>
            <el-table-column
                    prop="ID"
                    label="编号"
                    width="55">
            </el-table-column>
            <el-table-column
                    prop="DNAME"
                    label="部门名称"
                    width="150">
            </el-table-column>
            <el-table-column
                    prop="DES"
                    label="部门描述"
                    width="120">
            </el-table-column>
            <el-table-column
                    prop="STATE"
                    label="部门状态"
                    width="120">
                <template scope="scope">
                    <div v-if="scope.row.STATE=='2'">
                        <span style="color:red;">不可用</span>
                    </div>
                    <div v-if="scope.row.STATE=='1'">
                        <span style="color:green;">可用</span>
                    </div>
                </template>
            </el-table-column>
            <el-table-column
                    label="操作">
                <template scope="scope">

                    <el-button :plain="true" type="success" disabled v-if="scope.row.STATE=='2'"  size="small" icon="edit" @click="editClick(scope.row)">编辑</el-button>
                    <el-button :plain="true" type="danger"  disabled v-if="scope.row.STATE=='2'"  size="small" icon="delete" @click="deleteClick(scope.row)">删除</el-button>

                    <el-button :plain="true" type="success"  v-if="scope.row.STATE=='1'"  size="small" icon="edit" @click="editClick(scope.row)">编辑</el-button>
                    <el-button :plain="true" type="danger"   v-if="scope.row.STATE=='1'"  size="small" icon="delete" @click="deleteClick(scope.row)">删除</el-button>

                    <el-button v-if="scope.row.STATE=='1'"  size="mini" type="danger"
                               @click="stopUse(scope.$index, scope.row)">禁用</el-button>
                    <el-button v-if="scope.row.STATE=='2'"  size="mini" type="success"
                               @click="stopUse(scope.$index, scope.row)">启用</el-button>
                </template>
            </el-table-column>
        </el-table>
    </el-row>

    <!--列表底部工具条和分页符-->
    <el-row style="margin-top: 20px" type="flex" justify="end">
        <el-col :span="6">
            <el-button :plain="true" type="danger" size="small" icon="delete" @click="removeSelection">删除所选</el-button>
        </el-col>
        <el-col :span="18">
            <el-pagination
                    style="float: right"
                    @size-change="pageSizeChange"
                    @current-change="currentPageChange"
                    :current-page="currentPage"
                    :page-sizes="[5,10, 20, 30, 50]"
                    :page-size="pageSize"
                    layout="total, sizes, prev, pager, next, jumper"
                    :total="total">
            </el-pagination>
        </el-col>
    </el-row>

    <!--操作界面-->
    <el-dialog title="操作" :visible.sync="editFormVisible" :close-on-click-modal="false">
        <el-form :model="editForm" class="demo-ruleForm" label-width="80px" ref="editForm">
            <el-form-item label="部门名称" prop="DNAME">
                <el-input v-model="editForm.DNAME" auto-complete="off"></el-input>
            </el-form-item>
            <el-form-item label="部门描述" prop="DES">
                <el-input v-model="editForm.DES" auto-complete="off"></el-input>
            </el-form-item>
            <!--<el-form-item label="部门状态" prop="STATE">
                <el-input v-model="editForm.STATE" auto-complete="off"></el-input>
            </el-form-item>-->
             <!--<el-form-item label="部门状态" prop="STATE">
             </el-form-item>-->
                <!--<el-switch
                        style="display: block"
                        v-model="editForm.STATE"
                        active-color="#13ce66"
                        inactive-color="#ff4949"
                        active-text="可用"
                        active-value="1"
                        inactive-text="禁用"
                        inactive-value="2">
                </el-switch>-->

        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click.native="editFormVisible = false">取消</el-button>
            <el-button type="primary" @click.native="editSubmit" :loading="editLoading">提交</el-button>
        </div>
    </el-dialog>

</div>
</center>

<script type="text/javascript">
    var app = new Vue({
        el: '#app',
        data: {
            message: '部门列表'
        }
    });

    var tableView = new Vue({
        el: '#tableView',
        data(){
           return{
            //列表数据
            tableData: [],
            //显示加载中样式
            loading:false,
            //搜索表单
            searchForm: {
                id: '',
                dname: ''
            },
            //多选值
            multipleSelection: [],
            //当前页
            currentPage:1,
            //分页大小
            pageSize:5,
            //总记录数
            total:800,
            //删除的弹出框
            deleteVisible:false,
            //编辑界面是否显示
            editFormVisible: false,
            editLoading: false,
            goUrl:'',
            //编辑界面数据
            editForm: {
                DNAME:'',
                DES:''

            }

            };
        },

        created:function(){

            var self = this;
            axios.post('/sb/dept/myPage',{'pageNo':this.currentPage,'pageSize':this.pageSize}).then(function(response){
                self.total=response.data.pageTotal;
                self.tableData = response.data.pageData;

            });


        },
        methods:{
            //状态显示
            /*formatter(row, column) {
                if(row.STATE=='1'){
                    return '可用';
                }else if(row.STATE=='2'){
                    return '不可用';
                }

            },*/
            //表格重新加载数据
            loadingData(){

                var _self = this;
                _self.loading = true;
                var searchForm={'pageNo':this.currentPage,'pageSize':this.pageSize,'id':this.searchForm.id,'dname':this.searchForm.dname};
                axios.post('/sb/dept/myPage',searchForm).then(function(response){
                    _self.total=response.data.pageTotal;
                    _self.tableData = response.data.pageData;
                });
                //打印当前页
                console.log(_self.currentPage);
                setTimeout(function(){
                    console.info("加载数据成功");
                    _self.loading = false;
                },300);
            },
            //表格编辑事件
            editClick(row){
                //alert(JSON.stringify(row));
                this.goUrl="/sb/dept/upd";
                this.editFormVisible = true;
                this.editForm = Object.assign({}, row);
                //alert(JSON.stringify(this.editForm));
            },
            stopUse(index,row){
                //alert(JSON.stringify(row.STATE));
                //alert(JSON.stringify(row.ID));
                var _self = this;
                //设置按钮失效
                axios.post('/sb/dept/updState',{state:row.STATE,deptno:row.ID}).then(function(response){
                    //alert(JSON.stringify(response.data));
                    if (response.data > 0) {
                        _self.$notify({
                            title: '成功',
                            type: 'success',
                            message: "<b>操作成功！</b>",
                            position: 'bottom-right',
                            dangerouslyUseHTMLString: true
                        });
                    }else{
                        _self.$notify.error({
                            title: '失败',
                            message: "<b>操作失败</b>",
                            position: 'bottom-right',
                            dangerouslyUseHTMLString: true

                        });
                    }
                             _self.loadingData();
                });


            },
            //表格删除事件
            deleteClick(row){
                var _self = this;
                //alert(row.ID);
                this.$confirm('确认删除' + row.DNAME +'吗?', '提示', {
                    type: 'warning'
                }).then(function(){
                    var url="/sb/dept/del/?id="+row.ID;
                    axios.post(url).then(function (response) {
                        //alert(response.data);
                        if(response.data>0){
                            _self.$message({
                                message: row.DNAME + '删除成功',
                                type: 'success'
                            });
                            _self.loadingData();//重新加载数据
                        }
                    });
                }).catch(function(e){
                    if(e != "cancel")
                        console.log("出现错误：" + e);
                });
            },
            //新建事件
            addClick(){
                //alert(111);
                this.goUrl="/sb/dept/add";
                var _self = this;
                this.editForm={
                    DNAME:'',
                    DES:''
                };
                this.editFormVisible = true;
                _self.loadingData();//重新加载数据
            },
            //表格查询事件
            searchClick(){
                var self = this;
                self.loadingData();//重新加载数据
            },
            //表格勾选事件
            selectionChange(val){
                for(var i=0;i<val.length;i++) {
                    var row = val[i];
                }
                this.multipleSelection = val;
                console.info(val);
            },
            //删除所选，批量删除
            removeSelection(){
                var _self = this;
                var multipleSelection = this.multipleSelection;
                if(multipleSelection.length < 1) {
                    _self.$message({
                        message: '请至少选中一条记录',
                        type: 'error'
                    });
                    return;
                }
                var ids = "";
                for(var i=0;i<multipleSelection.length;i++) {
                    var row = multipleSelection[i];
                    ids += row.ID + ","
                }
                //alert(ids);
                this.$confirm('确认删除' + ids +'吗?', '提示', {
                    type: 'warning'
                }).then(function(){
                    var  url="/sb/dept/batchDel/?ids="+ids;
                    axios.post(url).then(function (response) {
                        //alert(response.data);
                        var temp="";
                        if(response.data>0){
                            temp="删除成功";
                            infoDel="success"
                        }else {
                            temp="删除失败";
                            infoDel="warning"
                        }
                        _self.$message({
                            message: temp,
                            type: infoDel
                        });
                        _self.loadingData();//重新加载数据
                    });

                }).catch(function(e){
                    if(e != "cancel")
                        console.log("出现错误：" + e);
                });
            },
            //分页大小修改事件
            pageSizeChange(val){

                console.log('每页 ' + val +' 条');
                this.pageSize = val;
                var _self = this;
                _self.loadingData();//重新加载数据
            },
            //当前页修改事件
            currentPageChange(val){
                this.currentPage = val;
                console.log('当前页: ' + val);
                var _self = this;
                _self.loadingData();//重新加载数据
            },
            //保存点击事件
            editSubmit(){
                var _self = this;
                _self.loading = true;
                var formData =this.editForm;
                var goUrl=this.goUrl;
                //alert(goUrl);
                //alert(JSON.stringify(formData));
                axios.post(goUrl,formData).then(function(response){
                    if(response.data>0){
                        _self.editFormVisible = false;
                        temp="操作成功";
                        stat='success';
                    }else {
                        temp="操作失败";
                        stat='warning';
                    }
                    _self.$message({
                        message: temp,
                        type: stat
                    });
                    _self.loadingData();//重新加载数据
                });
                console.info(this.editForm);
            }
        }

    })
</script>

</body>
</html>